.nav:nth-child(3) a {
    border: none;
    pointer-events: none;
    cursor: default;
}

.info {
    width: 12rem;
}

tr {
    border-bottom-width: 1px; 
    border-color: #1F2937;
}

td {
    padding: 1rem;
}

td.seat:hover {
    background-color: #E5E7EB;
}