.nav:nth-child(3) a {
  border: none;
  pointer-events: none;
  cursor: default;
}

.info {
  width: 14rem;
}

input {
  background-color: white;
}

tr {
  border-bottom-width: 1px;
  border-color: #1f2937;
}

td {
  padding: 1rem;
}

td.seat:hover {
  background-color: #e5e7eb;
}
